<!DOCTYPE html>
<html>

<head>
       <title>CSS</title>
        <link href="https://fonts.googleapis.com/css?family=Noto+Serif+KR&amp;subset=korean" rel="stylesheet">

        <style>
                img {max-width: 80%; 
                            width: 80%}
                </style>

        <style>
        body {
            font-family: 'Noto Serif KR', serif;
            font-size: 20px;
            padding: 100px 0px;

            
            text-align: center;

            text-shadow: 2px 2px 2px rgb(207, 207, 207);
            background-color: #FABF60
            }
        </style>


</head>


<body>
        <img style="-webkit-user-select: none;" src="http://cdnweb01.wikitree.co.kr/webdata/editor/201509/15/img_20150915171719_a1d7a8f6.jpg"> 

        <br>
    
            <h1>About</h1>

            <p>안녕하세요, 이곳은 글자를 세 주는 멋쟁이 사자처럼의 워드카운트 웹페이지입니다. 여기에서 글자를 세세요. </p>

             <a href="{%url 'home'%}">Home으로 돌아가기</a>

        </body>

</html>
